*{
    padding: 2px;
    margin :2px;
    /* border: 1px solid  rgba(5, 122, 218, 0.3); */  /* debugging */  
}
.postman{
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 5px;
}

.container{
    padding: 4%;
    border: 10px solid white;
}

.top{
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
}

.top--input{
    color: black;
    font-family: monospace;
}

.container--button{
    color: black;
}

.container--button__disabled{
    background-color: grey;
    color: black;
}

/* center{

} */

.bottom{
    background-color:white;
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100%;
    /* border: 1px solid  rgba(5, 122, 218, 0.3);     */

}

.history{
    margin: 3px;
    border-radius: 2px;
    background-color: rgba(5, 122, 218, 0.3);
    color: white;
    font-family: monospace;
}

.history--item{
    list-style-type: none;
}

.response{
    border: 1px solid  rgba(5, 122, 218, 0.3);    
    font-family: monospace;
    background-color: white;
    background-image: linear-gradient(to left #385be9e5, #505875e5);
    border-radius: 2px;
    margin: 2px;   
    padding:2px;
    text-align: left; 
    color: black;
    white-space: pre-wrap;
    /* 
    white-space: pre-line;
    in constrast to white-spaces, pre-line removes the spaces
    */
}

.header{
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
}
.header img{
    width: 70px;
    height: 60px;
}

.appname{
    font-size: 30px;
    padding-top: 15px;
    text-align: center;
}

.time{
    background-color: antiquewhite;
    text-align: center;
    padding: 23px;
    border-radius: 10px;
    border: 1px solid black;
    /* height: 15%; */
}
