/* *{
    border: 1px solid blue;
} */
.postman{
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
}

.container{
    padding: 1%;
    /* border: 2px solid blue; */
}


.top{
    display: grid;
    grid-template-columns: 1fr 9.5fr 1.5fr;
    grid-column-gap: 3px;
    margin-top : 8px;
    /* grid-auto-flow: column; */
}

.top--input{
    color: black;
    font-family: monospace;
    /* width: 75%; */
}

.container--button{
    color: black;
    font-size: small;
    /* width: 50px;
    align-items: right; */
}

.container--button__disabled{
    background-color: grey;
    color: black;
}

.center{
    margin-top: 8px;
    margin-bottom: 8px;
}

.bottom{
    background-color:white;
    display: grid;
    grid-template-columns: 1fr 4fr;
    /* float: left; */
    /* width: auto; */
    /* height: 100%; */
    /* border: 1px solid  rgba(5, 122, 218, 0.3);     */
}

@media screen and (min-width: 900px) {
    .bottom {
        /* background-color: blue; */
        grid-template-columns: 1fr 4fr;
    }
}

@media screen and (max-width: 600px) {
    .bottom {
        /* background-color: red; */
        grid-template-columns: 1fr;
    }
    .response{
        /* background-color: red; */
    }
}

.history{
    margin: 3px;
    border-radius: 2px;
    background-color: rgba(5, 122, 218, 0.3);
    color: white;
    font-family: monospace;
    /* width: 80%; */
}

.history--item{
    list-style-type: none;
    cursor:pointer;
    font-size: large;
    border-radius: 2px;
    margin: 2px;
}

.response{
    border: 1px solid rgba(5, 122, 218, 0.3);    
    font-family: monospace;
    background-color: white;
    background-image: linear-gradient(to left #385be9e5, #505875e5);
    border-radius: 3px;
    margin: 2px;   
    padding:2px;
    text-align: left; 
    color: black;
    white-space: pre-wrap;
    font-size: large;
    
    /* white-space: pre; */
    /* in constrast to white-spaces, pre-line removes the spaces */
   
}

.header{
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    /* padding-top: 100px; */
}
.header img{
    width: 70px;
    height: 60px;
    padding-top: 0px;
}

.appname{
    font-size: 30px;
    padding-top: 19px;
    text-align: center;
}

.time{
    padding: 2px;
    background-color: antiquewhite;
    text-align: center;
    padding-top: 25px;
    border-radius: 10px;
    border: 1px solid black;
    /* height: 15%; */
}

.tooltip{
    display: none;
    position: absolute;
    height: auto;
    width: auto;
    z-index: 1;
    /* background-color: rgb(100, 157, 204); */
    color: whitesmoke;
    background-color: rgba(0, 75, 136, 0.788);
    /* color: rgba(5, 122, 218, 0.66); */
    border-radius: 4px;
    padding: 4px;
    border: 1px solid;
}

.endpoints{
    display: none;
    /* grid-auto-flow: rows; */
    background-color: white;
    position: absolute;
    width:94.5%;
    /* margin-left: 155px;
    margin-top: 22px; */
    /* width: 74%; */
    height: auto;
    /* padding: 2p x; */
}

/* .endpoints .active{
    display: block;
} */

.endpointItem{
    background-color: rgba(0, 128, 128, 0.1);
    /* border: 1px solid white; */
    margin: 2px;
    padding: 2px;
    cursor: pointer;
    color: black;
    font-family: monospace;
    border-radius: 3px;
}

/* .endpointItem :hover{
    color: red;
    background-color: white;
} */

.methodOptions{
    border: 1px solid black;
    background-color: white;
}

.topheaderbar img{
    position: absolute;
    width: 15px;
    height: 15px;
    padding: 2px;
    cursor: pointer;
}

.headerlinks{
    display: none;
    padding: 2px;
    background-color: rgba(5, 122, 218, 1); 
    position: absolute;
    font-family: monospace;
    padding: 4px;
    border-radius: 4px;
}

.headerlinks div{
    color: white;
    cursor: pointer;
    border-bottom: 1px dotted white;
    padding: 4px;
    /* width: auto; */
}

.aboutme{
    float: right;
    color: white;
    background-color:#0776d1;
    height: auto;
    width: auto;
    position: absolute;
    padding: 4px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.aboutme__message{
    padding: 4px;
    font-family: monospace;
}

.aboutme__btn{
    padding : 4px;
}

.settings{
    background-color:rgba(5,122,218,0.9);
    position: absolute;
    padding: 5px;
    height: auto;
    width: auto;
    border-radius: 8px;
    text-align: center;
    float: right;
    z-index: 1;
    /* width: 50%; */
    /* margin-left: 38%; */
    font-family: monospace;
}

.settings h3{
    color: white;
}

.settings--menu{
    background-color:rgba(5,122,218,0.8);
    padding: 2px;
    width: auto;
    border-radius: 10px;
    /* align-content: center; */
    /* margin-bottom: 4%; */
    /* z-index: 1; */
    /* background-color: red; */
}

.settings--menuItem{
    background-color:rgba(5,122,218,0.9);
    color: white;
    width: auto;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 4fr;
    grid-gap: 4px;
    margin: 40px;
}