

.header{
    padding : 1%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 12fr;
    border: 1px solid #ccc;
}

.header__contenttype{
    display: flex;
    padding: 5px;
    cursor: wait;
    /* grid-template-columns: 2fr 9fr; */
    grid-row-gap: 4px;
}

    /* 

    .authbasic{
        grid-template-columns: 2fr 8fr;
    }
    .autho2{
        grid-template-columns: 2fr 8fr;
    } */