.header{
    padding : 1%;
    border: 1px solid #ccc;
}

.header__contenttype{
    display: grid;
    /* padding: 2px; */
    /* margin: 2px; */
    cursor: wait;
}

.header__contenttype *{
    margin-right : 4px;
    margin-bottom: 4px;
    font-family: monospace;
    /* padding: 4px; */
}

.header__btn{
    /* margin-left: 12px; */
}

    /* 

    .authbasic{
        grid-template-columns: 2fr 8fr;
    }
    .autho2{
        grid-template-columns: 2fr 8fr;
    } */